<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
   例如namespace="com.szh.mapper.personMapper"就是com.szh.mapper(包名)+personMapper(personMapper.xml文件去除后缀) -->
<mapper namespace="com.fh.FilesSecret.mapper.SecretMapper">

    <!--查询密级SQL-->
    <select id="querysecret" resultType="com.fh.FilesSecret.model.Secret">
      select * from t_secret
    </select>

    <!--添加密级SQL-->
    <insert id="addsecret" parameterType="com.fh.FilesSecret.model.Secret">
    insert into t_secret
    (secName,secret)
    values
    (#{secName},#{secret})
    </insert>

    <!--回显密级SQL-->
    <select id="huixiansecret" parameterType="int" resultType="com.fh.FilesSecret.model.Secret">
        select * from t_secret where secId=#{secid}
    </select>

    <!--修改密级SQL-->
    <update id="updatesecret" parameterType="com.fh.FilesSecret.model.Secret">
        update t_record set secName=#{secName},secret=#{secret}
        where secId=#{secId}
    </update>

    <!--删除密级SQL-->
    <delete id="deletsecret" parameterType="int">
        delete from t_secret where secId=#{secid}
    </delete>

</mapper>
