<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fh.pemission.mapper.PemissionMapper">

    <select id="queryPemission" resultType="map">
        select * from t_pemission
    </select>

    <insert id="addPemission" parameterType="com.fh.pemission.medol.Pemission">
        insert into t_pemission(name,url)
        VALUES (#{name},#{url})
    </insert>

    <update id="updatePemission" parameterType="com.fh.pemission.medol.Pemission">
         UPDATE t_pemission SET name = #{name},url = #{url}
        where id = #{id}
    </update>

    <delete id="delPemission">
          delete from t_pemission where id=#{id}
    </delete>


</mapper>
