<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.meeting.mapper.MeetingMapper">
    <sql id="sqlWhere">
        <where>

            <if test="meetingTheme !=null and meetingTheme !=''">
                m.meetingTheme like concat("%",#{meetingTheme},"%")
            </if>
            <if test="roomId !=null ">
                and m.roomId =#{roomId}
            </if>

            <if test="minDate !=null ">
                and m.meetingMinDate >=#{minDate}
            </if>

            <if test="maxDate !=null ">
                and m.meetingMaxDate &lt;=#{maxDate}
            </if>

        </where>

    </sql>
    <select id="queryMeetingList" resultType="com.fh.meeting.model.Meeting" parameterType="com.fh.meeting.param.MeetingParam">
        select *  from w_meeting m left join w_room r on m.roomId=r.roomId
        <include refid="sqlWhere"></include>
        ORDER BY  m.meetingId DESC
        limit #{start},#{pageSize}
    </select>

    <select id="selectCountt" resultType="long" parameterType="com.fh.meeting.param.MeetingParam">
        select count(*) from w_meeting
    </select>

    <insert id="addMeeting" parameterType="com.fh.meeting.model.Meeting">
        insert into w_meeting(meetingTheme,conferee,meetingMinDate,meetingMaxDate,roomId,meetingType,compere,recorder,registrant,photo,meetingSafeWhad,meetingWhad,meetingState)
        values (#{meetingTheme}, #{conferee}, #{meetingMinDate}, #{meetingMaxDate}, #{roomId},#{meetingType},#{compere},#{recorder},#{registrant},#{photo},#{meetingSafeWhad},#{meetingWhad},#{meetingState})
    </insert>
    <delete id="deleteBatch">
        delete from  w_meeting where meetingId in
        <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>

    </delete>
    <delete id="deleteMeeting">
        delete from  w_meeting where meetingId =#{meetingId}
    </delete>
    <update id="updateMeeting" parameterType="meeting">
    update w_meeting set meetingTheme=#{meetingTheme},conferee=#{conferee}, meetingMinDate=#{meetingMinDate},meetingMaxDate=#{meetingMaxDate},roomId=#{roomId},meetingType=#{meetingType},compere=#{compere},recorder=#{recorder},registrant=#{registrant},photo=#{photo},meetingSafeWhad=#{meetingSafeWhad},meetingWhad=#{meetingWhad},meetingState=#{meetingState},registerTime=#{registerTime}
        where meetingId=#{meetingId}
    </update>
</mapper>
