<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.room.mapper.RoomMapper">
    <sql id="sqlWhere">
        <where>

            <if test="roomName !=null and roomName !=''">
                r.roomName like concat("%",#{roomName},"%")
            </if>

        </where>

    </sql>

    <select id="queryRoomList" resultType="com.fh.room.model.Room" parameterType="com.fh.room.param.RoomParam">
        select *  from w_room r
        <include refid="sqlWhere"></include>
        limit #{start},#{pageSize}
    </select>
    <select id="selectCountt" resultType="long" parameterType="com.fh.room.param.RoomParam">
        select count(*) from w_room
    </select>

    <insert id="addRoom" parameterType="com.fh.room.model.Room">
        insert into w_room(roomName,roomSite,roomSize,roomFacility,roomNotes)
        values (#{roomName}, #{roomSite}, #{roomSize}, #{roomFacility}, #{roomNotes})
    </insert>

    <delete id="deleteBatch">
        delete from  w_room where roomId in
        <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>

    </delete>

    <delete id="deleteRoom">
        delete from  w_room where roomId =#{roomId}
    </delete>

    <update id="updateRoom" >
    update w_room set roomName=#{roomName}, roomSite=#{roomSite}, roomSize=#{roomSize}, roomFacility=#{roomFacility}, roomNotes=#{roomNotes}
        where roomId=#{roomId}
    </update>
</mapper>
